@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

body {
  font-family: "Rubik", serif;
  color: #313e51;
  background-color: #f4f6fa;

  p {
    color: #626c7f;
  }
}

.switch {
  appearance: none;
  background-color: #a729f5;
  height: 20px;
  width: 32px;
  display: inline-flex;
  margin: 0;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 4px;
  transition: all 0.8s ease-in-out;
  cursor: pointer;

}

.switch:after {
  content: "";
  background-color: white;
  width: 50%;
  height: 100%;
  border-radius: 50%;
  transition: transform 0.4s cubic-bezier(0.85, 0, 0.15, 1);
}

.switch:checked {
  background-color: #a729f5;
}

.switch:checked:after {
  transform: translateX(100%);
}

.container {
  padding: 16px 24px;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  label {
    justify-self: end;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;

    svg {
      width: 16px;
      height: 16px;
      fill: #626c7f;
    }
  }
}

.quiz-type {
  display: flex;
  gap: 16px;
  align-items: center;
  h2 {
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
  }
}

.welcome-contents {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.welcome-header {
  display: flex;
  flex-direction: column;
  gap: 16px;
  h1 {
    font-size: 40px;
    font-weight: 500;
    line-height: 40px;
    span {
      font-weight: 300;
    }
  }
  p {
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: 21px;
  }
}

.welcome-quiz-btns {
  display: flex;
  flex-direction: column;
  gap: 12px;
  button {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 12px;
    border-radius: 12px;
    background-color: #fff;
    border: none;
    box-shadow: 0px 16px 40px 0px #8fa0c124;
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
  }
}

.quiz-contents {
  margin-top: 32px;
  display: grid;
  gap: 24px;
}

.quiz-header {
  display: flex;
  flex-direction: column;
  gap: 12px;

  p {
    font-size: 14px;
    font-style: italic;
    line-height: 21px;
  }

  h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
  }
}

.progress-bar {
  padding: 4px;
  height: 16px;
  background-color: #fff;
  border-radius: 999px;
  margin-bottom: 16px;
}

.progress-bar-status {
  background-color: #a729f5;
  width: 30%;
  height: 100%;
  border-radius: 999px;
  transition: 1.5s ease-in-out;
}

.quiz-options {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.quiz-option {
  position: relative;
  padding: 12px;
  background-color: #fff;
  box-shadow: 0px 16px 40px 0px #8fa0c124;
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  border-radius: 12px;
  cursor: pointer;

  input {
    appearance: none;
  }

  span {
    width: calc(100% - 100px);
  }

  svg {
    right: 16px;
    position: absolute;
  }
}

.quiz-option::before {
  background-color: #f4f6fa;
  color: #626c7f;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40px;
  min-height: 40px;
  border-radius: 6px;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
}

.quiz-option:has(input:checked)::before {
  background-color: #a729f5;
  color: #fff;
}

.quiz-option:has(input:checked) {
  border: 3px solid #a729f5;
  padding: 9px;
}

.quiz-option:nth-child(1)::before {
  content: "A";
}

.quiz-option:nth-child(2)::before {
  content: "B";
}

.quiz-option:nth-child(3)::before {
  content: "C";
}

.quiz-option:nth-child(4)::before {
  content: "D";
}

.quiz-option.correct:has(input:checked) {
  border: 3px solid #26d782 !important;
  &::before {
    background-color: #26d782 !important;
    color: #fff !important;
  }
}

.quiz-option.incorrect {
  border: 3px solid #ee5454 !important;
  &::before {
    background-color: #ee5454 !important;
    color: #fff !important;
  }
}

.purple-btn {
  padding: 20px;
  background-color: #a729f5;
  box-shadow: 0px 16px 40px 0px #8fa0c124;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  color: #fff;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

.result-contents {
  display: grid;
  gap: 40px;
  margin-top: 32px;
  h3 {
    font-size: 40px;
    font-weight: 500;
    line-height: 40px;
    span {
      font-weight: 300;
    }
  }
}

.result-data {
  display: grid;
  gap: 12px;

  h3 {
    font-size: 88px;
    font-weight: 500;
    line-height: 88px;
  }

  p {
    font-size: 18px;
    line-height: 18px;
  }
}

.result-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  background-color: #fff;
  padding: 32px;
  box-shadow: 0px 16px 40px 0px #8fa0c124;
  border-radius: 12px;
}

.warning-msg {
  color: #ee5454;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 18px;
  line-height: 18px;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 54px 64px;
  }

  header {
    label {
      svg {
        width: 24px;
        height: 24px;
      }
    }
  }

  .quiz-type {
    img {
      width: 56px;
      height: 56px;
    }
    h2 {
      font-size: 28px;
      line-height: 28px;
    }
  }

  .switch {
    width: 48px;
    height: 28px;
  }

  .welcome-contents {
    margin-top: 64px;
  }

  .welcome-header {
    h1 {
      font-size: 64px;
      line-height: 64px;
    }
    p {
      font-size: 20px;
      line-height: 30px;
    }
  }

  .welcome-quiz-btns {
    gap: 24px;
    button {
      gap: 32px;
      border-radius: 24px;
      cursor: pointer;

      img {
        width: 56px;
        height: 56px;
      }
      span {
        font-size: 28px;
        line-height: 28px;
      }
    }
  }

  .quiz-header {
    p {
      font-size: 20px;
      line-height: 30px;
    }
    h3 {
      font-size: 36px;
      line-height: 43.2px;
    }
  }

  .quiz-contents {
    margin-top: 50px;
    gap: 40px;
  }

  .progress-bar {
    margin-bottom: 24px;
  }

  .quiz-options {
    gap: 24px;
  }

  .quiz-option::before {
    border-radius: 12px;
    min-width: 56px;
    min-height: 56px;
    font-size: 28px;
    line-height: 28px;
  }

  .quiz-option {
    border-radius: 24px;

    span {
      font-size: 28px;
      line-height: 28px;
    }
    svg {
      width: 40px;
      height: 40px;
    }
  }

  .warning-msg {
    font-size: 24px;
    line-height: 36px;
    svg {
      width: 40px;
      height: 40px;
    }
  }

  .result-contents {
    margin-top: 50px;
    gap: 64px;
  }

  .result-header {
    h3 {
      font-size: 64px;
      line-height: 64px;
    }
  }

  .result-data {
    gap: 32px;
  }

  .result-info {
    border-radius: 24px;
    h3 {
      font-size: 144px;
      line-height: 144px;
    }

    p {
      font-size: 24px;
      line-height: 36px;
    }
  }

  .purple-btn {
    font-size: 28px;
    line-height: 28px;
    padding: 32px;
    border-radius: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    margin-inline: auto;
    padding: 100px 140px;
  }

  .welcome-contents {
    margin-top: 100px;
    flex-direction: row;
    gap: 130px;
  }

  .welcome-header {
    gap: 48px;
  }

  .welcome-quiz-btns {
    flex-grow: 1;
  }

  .quiz-contents {
    grid-template-columns: 1fr 1fr;
    gap: 130px;
  }

  .quiz-header {
    grid-column: 1 / 1;
  }

  .progress-bar {
    margin-top: -250px;
    grid-column: 1 / 1;
  }

  .quiz-options {
    grid-row: 1 / 1;
    grid-column: 2 / 2;
  }

  .result-contents {
    gap: 140px;
    margin-top: 85px;
    grid-template-columns: 1fr 1fr;
  }
}
