body.dark-mode{
  color: #fff;
  background-color: #313E51;

  p {
    color: #ABC1E1;
  }

  header{
    label{
      svg{
        fill: #fff;
      }
    }
  }

  .welcome-quiz-btns{
    button{
      background-color: #3B4D66;
      color: #fff;
      box-shadow: 0px 16px 40px 0px #313E5124;
    }
  }

  .progress-bar {
    background-color: #3B4D66;
  }

  .quiz-option{
    background-color: #3B4D66;
    box-shadow: 0px 16px 40px 0px #313E5124;
  }

  .purple-btn{
    box-shadow: 0px 16px 40px 0px #313E5124;
  }

  .result-info{
    background-color: #3B4D66;
    box-shadow: 0px 16px 40px 0px #313E5124;
  }
}